<li class="list-group-item">
    {{txt}}
        <button type="button" id="dv" class="btn btn-light" data-id="{{id}}" data-dv ="{{devoured}}">Devour</button>
        <button type="button" id="del-meal" class="btn btn-danger" data-id="{{this.id}}" data-dv ="{{devoured}}">Delete</button>
</li>          